@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
	margin:0;
	padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#f47f16;
    --primary-background-color:#181717;
    --text-link: #ffffff;
}
.light-mode{
    --primary-background-color:#f3f5f6;
    --text-link:#181717;
}
body {
	font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-color);
	user-select: none;
}

html{
	height: 100%;
	scroll-behavior: smooth;
}
.main-container {
    display: flex;
}
  
.main-content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
    flex: 1; 
    padding: 1.5rem; 
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h1 {
    padding: 20px;
    background-color:transparent;
    text-align: center;
    color: var(--primary-text-color);
}

.tempLogo {
	height: 80px;
	width: 150px;
	overflow: hidden;
	object-fit: cover;
	margin: 0;
  }
#icon{
    width: 20px;
    cursor: pointer;
    margin: 0% 0 0 0%;
    transition: transform 0.3s ease;
}
#icon:hover{
    transform: scale(1.2);
   
}
.hover-message {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-background-color);
    color: var(--text-link);
    z-index: 9999;
  }
  
h3 {
	position: sticky;
	margin: 0;
	font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    color: var(--primary-text-color);
	background-color: transparent; 
}

p {
	color: var(--text-link);
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
.container-box {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */
	height: 420px;
    margin-bottom: 30px;
    background-color: transparent;
	border: 1px solid var(--text-link); 
    border-radius: 16px;
    overflow-y: scroll;
	scrollbar-color: rgba(255,255,255,0.5) #121212 ;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#niti-shashtra-scripture{
    overflow: hidden;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding:20px;
	width: 100%;
}
.container > div {
    flex: 0 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    text-align: center;
    background-color: transparent;
    border-radius: 16px;
    overflow: hidden;
}

.container img {
    width: 200px;
    height: 280px; 
	max-width: 100%;
    object-fit:cover; 
    border:5px solid var(--primary-text-color);
    border-radius: 8px;
    transition: transform 0.3s ease;
	filter: brightness(70%);
    box-shadow: 5px 5px 2px rgb(65, 63, 63);
}

.container img:hover {
    transform: scale(1.05);
	filter: none; 
}

legend {
	margin: 0;
	color:var(--primary-text-color);
    font-size: 16px;
    padding: 10px;
}

a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
	.main-content {
	  padding: 0.5rem;
	}
  
	.container > div {
	  flex: 0 1 calc(50% - 20px);
	  max-width: calc(50% - 20px);
	}
    .myBtn{
        display: none;
    }
  }
  
  @media only screen and (max-width: 576px) {
	.main-content {
	  padding: 0.3rem;
	}
  
	.container > div {
	  flex: 1 1 95%;
	  max-width: 95%;
	}
    .myBtn{
        display: none;
    }
  }
